.outline {
	max-width: 1440px;
	height: 679px;
	margin-top: 10%;
}

.global {
	color: #292929;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-top: 205px;
	margin-left: 114px;
	width: 280px;
}

.product {
	width: 298px;
	color: var(--Text-3, #555459);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-left: 114px;
	height: 44px;
	margin-top: 16px;
}

.million {
	color: var(--Text-3, #555459);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 154px;
	width: 306px;
	margin-bottom: -1px;
	margin-top: 4px;
}

.users {
	color: var(--Text-3, #555459);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-left: 154px;
	width: 207px;
	height: 22px;
	margin-top: 1px;
	margin-bottom: -10px;
}

.countries {
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #555459;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	width: 312px;
	height: 76px;
	margin-top: 4px;
	margin-left: 194px;
	margin-bottom: -10px;
}

.world {
	color: var(--Text-3, #555459);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-left: 194px;
	margin-top: -10px;
	width: 81px;
}

.textgrid {
	/* display: grid; */
	max-width: 500px;
}

.imagegrid {
	/* display: grid; */
}

.worldimage {
	display: grid;
}
